* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.clr-head {
    background-color: #F8CB2E;
    height: auto;
    position: relative;
    z-index: 1;

}

.clr-head p {
    margin-left: 72px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    /* flex-wrap: wrap; */
}

.video-container {
    /* width: 100%; *
    /* z-index: -5; */
    /* transform: translateY(-20px); */
}

.video-container .custom-video {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
object-fit: cover;
}

.navbar .navbar-brand {
    padding-left: 60px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.navbar {
    line-height: 0%;
    padding: 100px;
}

.nav-item {
    padding: 0px 20px;

}

.nav-link a.active {
    color: #ee5007;
}

.nav-item a {
    color: #fff;
}
.nav-item .nav-link:hover{
    color: #ee5007;
}
.butn {
    color: white;
    margin: 0px 50px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 12px;
    padding: 18px 18px;
   border: none;
    text-decoration: none;
    border-radius: 50px;
    background-color: #ee5007;
}
.butn:hover{
    background-color: #c01f27;
}
.video-txt {
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
    z-index: 1;
}

.video-txt h1 {
    color: #fff;
    font-size:6vw;
    font-weight: 700;
    letter-spacing: 1px;
}

.video-txt p {
    color: #fff;
}

.video-txt .btn-2 {
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #ee5007;
}
.video-txt .btn-2:hover{
    background-color: #c01f27;
}
h4 small span {
    padding: 4px 8px;
    background-color: #ee5007;
    margin-left: 5px;
    border-radius: 50%;
}
h4 span:hover{
background-color: #f8cb2e;
}
h4 strong {
    color: #fff;
}

h4 small {
    color: #fff;
}

.head-details {
    display: flex;
    justify-content: space-around;
    position: absolute;
    flex-wrap: wrap;
    bottom: 10%;
    z-index: 1;
    width: 100%;
}
@media (max-width:576px) {
    .video-txt h1{
        font-size: 10vw;
    }
    .video-txt{
        left: 15%;
    }
    .head-details{
        margin-bottom: 40px;
    }
    .navbar .navbar-brand{
        padding-left: 15px;
        font-size: 20px;
    }
    .clr-head p{
font-size: 16px;
margin-left: 15px;
    }
}
@media (max-width:992px) {
    .navbar .nav-item{
        padding: 10px;
        margin-left: 20px;
    }
 .butn{
margin-left: 20px;
}
}
.section-2{
    background-image: url(images/edward-unsplash-blur.jpg);
    width: 100%;
    height: 300px;
}